/* usman css  */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600&display=swap');



body {
  font-family: 'Inconsolata', monospace !important;
  font-family: 'Rubik', sans-serif !important;
}

/* utility classes  */

.shrink {
  transform: scale(0.8); 
}
.shrink2 {
  transform: scale(0.9); 
}
.shrinkx {
  transform: scaleX(0.8); 
}

/* body {
  transform: scaleY(0.8); 
  transform-origin: top center; 
} */


.fs_14px {
  font-size: 14px !important;
}

.fs_10px {
  font-size: 10px !important;
}
.fs_25px {
  font-size: 25px !important;
}
.white_space {
  white-space: nowrap;
}

.test {
  border: 2px solid red !important;
}

.bg {
  background: linear-gradient(to right, #07a6a9, #045355);
  width: 100%;
}

.bg1 {
  background-color: #f9f9f9;

  height: 100%;
  width: 100%;
}

.btn_light {
  background-color: #ffffff !important;
  color: black !important;
}
.btn_green {
  background-color: #07a6a9 !important;
  color: white !important;
}

.btn_blue {
  background-color: #7193ff !important;
  color: white !important;
}

.btn_purpel {
  background-color: #AD30AA !important;
  color: white !important;
}

.btn_yellow {
  background-color: #f3ae24 !important;
  color: white !important;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout main {
  flex-grow: 1;
}
.custom_padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.active-tab {
  color: #07a6a9;
}

.text_color {
  color: #39b7ba !important;
}

.navbar-togl-btn {
  background-color: white !important;
}

.opacity_custom {
  opacity: 0.7;
}
/* 

.add_review_modal-backdrop {  background-color: rgba(43, 38, 38, 0.958); 
} */

/* utility classes end  */

.home_background_img {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.4)),
    url(../src/assets/homeimg.png);
  background-size: cover;
  background-position: center;
}

.contact_background_img {
  height: 350px;
  width: 100%;
  background: linear-gradient(rgba(83, 171, 177, 0.6), rgba(83, 171, 177, 0.6)),
    url(./assets/contact-us2.png);
  background-size: cover;
  background-position: center;
  border-radius: 50px !important;
}

.bp-img {
  height: 250px;
  width: 100%;
  background: linear-gradient(rgba(9, 10, 10, 0.6), rgba(9, 10, 10, 0.6)),
    url(./assets/blogs.png);
  background-size: cover;
  background-position: center;
  border-radius: 50px !important;
}

.blog_background_img {
  height: 350px;
  width: 100%;
  background: linear-gradient(rgba(83, 171, 177, 0.6), rgba(83, 171, 177, 0.6)),
    url(./assets/blogs.png);
  background-size: cover;
  background-position: center;
  border-radius: 50px !important;
}

.procedure_background_img {
  height: 350px;
  width: 100%;
  background: linear-gradient(
      to right,
      rgb(122,121,188, 0.5),
      rgb(13,165,168, 0.5)
    ),
    url(./assets/homeimg.png);
  background-size: cover;
  background-position: center;
  border-radius: 50px !important;
}

.card-img-overlay {
  background-color: rgba(#000, 0.4);
}

.decoration-none {
  text-decoration: none !important;
}

.ket :hover {
  background-color: #07a6a9;
  color: #ffffff;
  border-radius: 10px;
}
.chat :hover {
  background-color: #07a6a9;
  color: #ffffff !important;
  border-radius: 10px;
}
.chat :hover .color {
  color: #ffffff;
}
.color {
  color: #07a6a9;
}
.card-content {
  /* Styles for the card content when the card is hovered */
  pointer-events: none; /* Disable mouse events on the content */
}
.white_space {
  white-space: nowrap;
}

/* ... (previous CSS rules) */

/* Style the header and navigation menu */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  color: white !important;
  text-decoration: none;
  border-radius: 20px;

  font-size: 10px;
}

nav ul li .active {
  background-color: #07a6a9;
  color: white !important ;
}


/* Style the dropdown container */
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  z-index: 9;

  border-radius: 29px;
}

.drop-btn{
  font-size: 25px;
}

@media screen and (min-width:992px) {
  .drop-align{
    top: -1px;
    right: -451px;
  }
  .dropdown-content{
    left: -200px;
  }
  .accordion-item{
    position: relative;
  }
  .accordion-collapse{
    position: absolute;
  }
  .drop-align{
    width: 450px;
  }
  .drop-btn{
    transform: rotate(270deg);
  }
}
.custom-list-style {
  list-style-type: disc !important;
  font-size: 12px;
  font-weight: bold;
}
.main a {
  opacity: 0.3;
  padding: 2px !important;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #3498db;
  color: white;
}
/* Style the dropdown when hovering */
.dropdown:hover .dropdown-content {
  display: block;

 
}
.accordion-body{
  background-color: rgb(7,166,169);
}

ul li {
  text-align: start;
}

.scroll-container {
  height: 300px; /* Set the desired height for the scrollable area */
  /* overflow: hidden; Hide the scrollbar */
  position: relative;
}

.content {
  padding-right: 20px; /* Add some right padding to prevent content from being cut off */
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 100%; /* Make sure the content takes up the full height of the container */
}

/* Completely hide the scrollbar */
/* .content::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
} */

/* Hide scrollbar in Firefox */
/* .content {
  scrollbar-width: none;
} */






.scroll-container1 {
  height: 55vh; /* Set the desired height for the scrollable area */
  overflow: hidden; /* Hide the scrollbar */
  position: relative;
}
.scroll-container3 {
  height: 60vh; /* Set the desired height for the scrollable area */
  overflow: hidden; /* Hide the scrollbar */
  position: relative;

}

.content1 {
  /* Add some right padding to prevent content from being cut off */
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 100%; /* Make sure the content takes up the full height of the container */
}
/* Completely hide the scrollbar */
.content1::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}

/* Hide scrollbar in Firefox */
.content1 {
  scrollbar-width: none;
}

.scroll-container2 {
  height: 65vh; /* Set the desired height for the scrollable area */
  overflow: hidden; /* Hide the scrollbar */
  position: relative;
}

.content2 {
  /* Add some right padding to prevent content from being cut off */
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 100%; /* Make sure the content takes up the full height of the container */
}
/* Completely hide the scrollbar */
.content2::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}

/* Hide scrollbar in Firefox */
.content2 {
  scrollbar-width: none;
}

.shadows4 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}

.shadows {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.shadows2 {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.o {
  border-radius: 98px !important;
}
.word {
  word-wrap: break-word;
}

.equal-width > label,
.equal-width > textarea {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

/* celeder css  */

.fc .fc-toolbar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
}

.fc-toolbar-chunk {
  display: flex;
  flex-direction: row; /* Arrange buttons in a row */
}
.fc-toolbar-chunk {
  min-width: 28.33% !important;
  max-width: 33.33% !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: white;
  color: #2b4c58;
}

.fc-button-group {
  padding: 4px;
  /* background-color: #07A6A9; */
}
.fc .fc-button {
  background-color: #07a6a9;
  border: 1px solid #07a6a9;
  border-radius: 50px;
  /* height: 30px; */
}

.fc.fc-prev-button .fc-button .fc-button-primary {
  background-color: white;
  color: #07a6a9;
}
.fc .fc-daygrid-day-number {
  padding: 4px;
  position: relative;
  z-index: 4;
  color: black;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: #2b4c58;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .fc .fc-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fc-toolbar-chunk {
    min-width: fit-content !important;
  }
  
}

.y {
  height: 93% !important;
}

.links ul li a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  word-wrap: normal;
}
.links ul li {
  color: #39b7ba;
}
.accordion-body ul li a{
  font-size: 16px;
}

.linke ul li a {
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-size: 14px;
  word-wrap: normal;
}
.linke ul li {
  color: #39b7ba;
}

.num {
  border: 1px solid #39b7ba;
  border-radius: 50px;
}
.place-card {
  display: none !important;
}
.place-card-medium {
  display: none !important;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #555;
}

.heading {
  font-size: 3rem;
}

/* waleed css*/

.w-fit {
  max-width: fit-content;
  background-color: rgb(214, 239, 240);
  color: rgb(32, 175, 178);
}
select.bg-select {
  background-color: rgb(236, 248, 248);
}
select.bg-select option {
  background-color: rgb(255, 255, 255);
}
.cu-color {
  color: rgb(112, 112, 112);
}
.h-color {
  color: rgb(3, 169, 172);
}
.gradient-btn {
  background-image: linear-gradient(to right, rgb(7, 165, 168), rgb(0, 26, 53));
}
.bor-bn {
  border: 1px solid rgb(7, 166, 169) !important;
}

.nav-link {
  text-wrap: nowrap;
}
.dropdown-content{
  width: 470px ;
  text-wrap: wrap;
 
}
@media screen and (max-width:480px) {
  .dropdown-content{
    width: 100%;
  }
  
}
.text_dark{
  color: #000 !important;
}
.clr-grdn{
  background-image: linear-gradient(to right, rgb(205,88,204), rgb(12,165,168));
  color: #ffffff !important;
}
.clr-grdn1{
  background-image: linear-gradient(to right, rgb(154,108,195), rgb(117,124,188));
}
.clr-grden{
  background-image: linear-gradient(to right, rgb(205, 88, 204) 5%, rgb(12, 165, 168) 95%);
  background-size: 100%;
  color: #ffffff !important;
  

}
.clr-grdn-text{
  background: linear-gradient(to right, rgb(205,88,204), rgb(12,165,168));
  -webkit-background-clip: text;
  color: transparent;
}
.btn-pink{
  background-color: rgb(205,88,204) !important;
  color: #ffffff !important;
}



.custom-progress-bar {
  height: 10px; /* Adjust the height as per your requirements */
}

.custom-mobile-stepper .MuiMobileStepper-progress {
  background-color: #97eced; /* Change this color to your desired color */
}
.custom-mobile-stepper .MuiMobileStepper-progress span {
  background-color: #07a6a9; /* Change this color to your desired active step color */
}

.ho:hover {
  background-color:#39b7ba !important;
}
