.test{
  border: 2px solid red !important;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout main {
  flex-grow: 1;
}

.home_background_img {
  background-image: url('./assets/home\ top.jpg');
  height: 80vh;
  background-repeat: no-repeat;
  background-position: 60%;
  background-position: center;
   height: auto;
    z-index: 999;
    position: relative;
    opacity: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.decoration-none{
  text-decoration: none!important;
}
.fs_14px{
  font-size: 14px;
}
